<div *ngIf="data && data.bounds">
  <mat-form-field>
    <mat-label>Left</mat-label>
    <input matInput [(ngModel)]="data.bounds[0]" name="timestamp" type="number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Top</mat-label>
    <input matInput [(ngModel)]="data.bounds[1]" name="timestamp" type="number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Right</mat-label>
    <input matInput [(ngModel)]="data.bounds[2]" name="type" type="number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Bottom</mat-label>
    <input matInput [(ngModel)]="data.bounds[3]" name="type" type="number">
  </mat-form-field>
</div>
