{{selection.segments | json}}
<div *ngIf="!!signals" class="row">
  <div class="column" style="background-color:#aaa;">
    <mat-accordion multi>
      <mat-expansion-panel *ngFor="let segment of selection.segments.slice().reverse()" [disabled]="segment.data !== selection.segment">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{segmentDisplayValue(segment)}} - {{segment.data.display}}
          </mat-panel-title>
          <mat-panel-description>
            <button mat-icon-button (click)="selectSegment(segment, $event)"><mat-icon>select_all</mat-icon></button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-segment-editor [segment]="segment"></app-segment-editor>
        <mat-form-field>
          <mat-label>Type</mat-label>
          <input matInput [value]="segment.data.type" name="type" type="text" readonly="true">
        </mat-form-field>
        <mat-action-row>
          <button mat-raised-button (click)="save()">Save</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


  <div class="center-column" style="background-color:#bbb;">
    <app-container-view [(selection)]="selection"></app-container-view>
  </div>


  <div class="column" style="background-color:#ccc;">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let annotation of selection.annotations.slice().reverse()"
                           [disabled]="annotation.data !== selection.annotation">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{annotationDisplayValue(annotation)}}
          </mat-panel-title>
          <mat-panel-description>
            <button mat-icon-button (click)="selectAnnotation(annotation, $event)"><mat-icon>select_all</mat-icon></button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-annotation-editor [annotation]="annotation"></app-annotation-editor>
        <mat-form-field>
          <mat-label>Type</mat-label>
          <input matInput [value]="annotation.data.type" name="type" type="text" readonly="true">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Source</mat-label>
          <input matInput [(ngModel)]="annotation.data.source" name="source" type="text">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Timestamp</mat-label>
          <input matInput [(ngModel)]="annotation.data.timestamp" name="timestamp" type="text">
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
