<div *ngIf="!!signals" class="row">
  <div class="column" style="background-color:#aaa;">
    <h5>Segments</h5>
    <mat-accordion multi>
      <mat-expansion-panel *ngFor="let mention of selection.signal.mentions.slice().reverse()">
        <mat-expansion-panel-header [ngClass]="{'selected': selection.mention && mention.id === selection.mention.id}">
          <mat-panel-title>
            <button mat-icon-button (click)="selectMention(mention, $event)"><mat-icon>select_all</mat-icon></button>
            <div>
              <span class="short">{{segmentDisplayValue(mention.segment.length && mention.segment[0])}}</span>
              <span class="short">{{"" + (mention.segment.length && mention.segment[0].display)}}</span>
            </div>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-segment-editor *ngIf="selection.segment && selection.mention && mention.id === selection.mention.id" [segment]="selection.segmentItem"></app-segment-editor>
        <mat-form-field *ngIf="selection.segment && selection.mention && mention.id === selection.mention.id">
          <mat-label>Type</mat-label>
          <input matInput [value]="selection.segment.type" name="type" type="text" readonly="true">
        </mat-form-field>
        <mat-action-row>
          <button mat-raised-button (click)="save()">Save</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


  <div class="center-column" style="background-color:#bbb;">
    <app-container-view [(selection)]="selection"></app-container-view>
  </div>


  <div class="column" style="background-color:#ccc;">
    <h5>Annotations</h5>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let annotation of selection.annotations.slice().reverse()">
        <mat-expansion-panel-header [ngClass]="{'selected': selection.mention && annotation.mentionId === selection.mention.id}">
          <mat-panel-title>
            <button mat-icon-button (click)="selectAnnotation(annotation, $event)"><mat-icon>select_all</mat-icon></button>
            <div>
              <sapan class="short">{{ "" + annotationDisplayValue(annotation)}}</sapan>
            </div>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-annotation-editor [annotation]="annotation"></app-annotation-editor>
        <mat-form-field>
          <mat-label>Type</mat-label>
          <input matInput [value]="annotation.data.type" name="type" type="text" readonly="true">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Source</mat-label>
          <input matInput [(ngModel)]="annotation.data.source" name="source" type="text">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Timestamp</mat-label>
          <input matInput [(ngModel)]="annotation.data.timestamp" name="timestamp" type="text">
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
