<h2>My Modality</h2>
<ul class="signals">
  <li *ngFor="let signal of signals"
      [class.selected]="signal === selectedSignal"
      (click)="onSelect(signal)">
    <span class="badge">{{signal.id}}</span> {{signal.name}}
  </li>
</ul>

<div *ngIf="selectedSignal">

  <h2>{{selectedSignal.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedSignal.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedSignal.name" placeholder="name"/>
    </label>
  </div>

</div>
