<mat-expansion-panel *ngIf="signals" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>Modality</mat-panel-title>
    <mat-panel-description>{{modality}} (Click to expand/collaps)</mat-panel-description>
  </mat-expansion-panel-header>

  <mat-drawer-container class="example-container">
    <mat-drawer #drawer [mode]="'side'">
      <ul>
        <li *ngFor="let signal of signalEntries"
            [class.selected]="signal[0] === selectedSignal"
            [class.edit]="this.editSignal"
            (click)="onSignalSelect(signal[0])" class="overview">
          <span class="badge" (click)="toggleEdit()">{{signal[0]}}</span> {{signal[1].name | slice:0:50}}
        </li>
      </ul>
    </mat-drawer>
    <mat-drawer-content>
      <button mat-raised-button (click)="drawer.toggle()">Signal List</button>

      <app-carousel *ngIf="modality === 'image'" [selection]="selection" [signals]="signals"></app-carousel>

      <div *ngIf="modality === 'text'" fxLayout="row" fxLayoutGap="5ex" class="overview">
        <app-text-view [signals]="signals" [selection]="selection"></app-text-view>
      </div>

      <form>
        <mat-form-field>
          <mat-label>Start</mat-label>
          <input matInput [(ngModel)]="signals[selectedSignal].time.start"
                 name="start" type="number" [readonly]="!editSignal">
        </mat-form-field>
        <mat-form-field>
          <mat-label>End</mat-label>
          <input matInput [(ngModel)]="signals[selectedSignal].time.end"
                 name="end" type="number" [readonly]="!editSignal">
        </mat-form-field>
      </form>
      <ngx-slider [(value)]="selectedSignal" [options]="sliderOptions" (valueChange)="onSliderSelection($event)"></ngx-slider>
      <ngx-slider [(value)]="signals[selectedSignal].time.start"
                  [(highValue)]="signals[selectedSignal].time.end"
                  [options]="rangeOptions"></ngx-slider>

      <app-editor [(signal)]="selection"></app-editor>
    </mat-drawer-content>
  </mat-drawer-container>
</mat-expansion-panel>
