<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>Annotations</mat-panel-title>
    <mat-panel-description></mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field>
    <mat-label>Mentions</mat-label>
    <mat-select [(value)]="selectedMention" name="mention">
      <mat-option *ngFor="let mention of signal.mentions" [value]="mention">
        {{mention.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="selectedMention">
    <mat-label>Annotations</mat-label>
    <mat-select [(value)]="selectedAnnotation" name="annotation">
      <mat-option *ngFor="let annotation of selectedMention.annotations" [value]="annotation">
        {{annotation.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="addAnnotation()">Add Annotation</button>
  <div *ngIf="selectedMention">
    <mat-form-field>
      <mat-label>Source</mat-label>
      <input matInput [(ngModel)]="selectedAnnotation.src" name="source" type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Timestamp</mat-label>
      <input matInput [(ngModel)]="selectedAnnotation.timestamp" name="timestamp" type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Value</mat-label>
      <input matInput [(ngModel)]="selectedAnnotation.value" name="value" type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <input matInput [(ngModel)]="selectedAnnotation.type" name="type" type="text">
    </mat-form-field>
  </div>
</mat-expansion-panel>
