/* overviewComponent's private CSS styles */
.bounds {
  background-color:#ddd;
  height: 100%;
  width: 100%;
  border-style: solid;
}

.content {
  border-style: solid;
}

.scenario {
  background-color:#86989B;
  border-style: solid;
}

.modality {
  background-color:#3A7734;
  border-style: solid;
}

.overview {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.overview li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.overview li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.overview li.selected {
  background-color: #CFD8DC;
  color: white;
}
.overview li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.overview .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
