<h2>My Modality</h2>


<label>Wählen Sie eine Textdatei (*.txt, *.html usw.) von Ihrem Rechner aus.
  <input [(ngModel)]="scenarioPath" name="scenario" type="text"/>
</label>
<button (click)="loadScenario()">… und ab geht die Post!</button>


{{scenarioPath}}


<div *ngIf="scenario">
  <h2>{{scenario.name | uppercase}} Details</h2>
  <div>{{scenario | json}}</div>
  <div><span>id: </span>{{scenario.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="scenario.name" placeholder="name"/>
    </label>
  </div>
  <div><span>modalities: </span>{{scenario.modalities}}</div>
  <ul class="overview">
    <li *ngFor="let modality of scenario.modalities | keyvalue">
      <app-modality [scenario]="scenario" [modality]="modality.key"></app-modality>
    </li>
  </ul>
</div>
