<mat-expansion-panel hideToggle>

  <mat-expansion-panel-header>
    <mat-panel-title>Annotations</mat-panel-title>
    <mat-panel-description></mat-panel-description>
  </mat-expansion-panel-header>

  <mat-form-field>
    <mat-label>Mentions</mat-label>
    <mat-select [value]="signal.mention && signal.mention.id" (valueChange)="selectMention($event)" name="mention">
      <mat-option></mat-option>
      <mat-option *ngFor="let mention of signal.signal.mentions" [value]="mention.id">
        {{mention.display}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="addMention()">Add Mention</button>
  <mat-form-field *ngIf="signal.mention">
    <mat-label>Segments</mat-label>
    <mat-select [value]="signal.segment" (valueChange)="selectSegment($event)" name="segment">
      <mat-option></mat-option>
      <mat-option *ngFor="let segment of signal.mention.segment; let idx = index" [value]="segment">
        {{idx}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="addSegment()">Add Segment</button>
  <mat-form-field *ngIf="signal.mention">
    <mat-label>Annotations</mat-label>
    <mat-select [value]="signal.annotation" (valueChange)="selectAnnotation($event)" name="annotation">
      <mat-option></mat-option>
      <mat-option *ngFor="let annotation of signal.mention.annotations" [value]="annotation">
        {{annotation.type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="addAnnotation()" [disabled]="!annotationType">Add Annotation</button>
  <mat-form-field *ngIf="signal.mention">
    <mat-label>Annotation Type</mat-label>
    <mat-select [(value)]="annotationType" name="type">
      <mat-option></mat-option>
      <mat-option *ngFor="let type of ['display', 'person', 'label']" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="signal.segment">
    <h3>Segment</h3>
    <app-segment-editor [segment]="signal.segmentItem"></app-segment-editor>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <input matInput [value]="signal.segment.type" name="type" type="text" readonly="true">
    </mat-form-field>
  </div>

  <div *ngIf="signal.annotation">
    <h3>Annotation</h3>
    <app-annotation-editor [annotation]="signal.annotationItem"></app-annotation-editor>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <input matInput [value]="signal.annotation.type" name="type" type="text" readonly="true">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Source</mat-label>
      <input matInput [(ngModel)]="signal.annotation.source" name="source" type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Timestamp</mat-label>
      <input matInput [(ngModel)]="signal.annotation.timestamp" name="timestamp" type="text">
    </mat-form-field>
  </div>
</mat-expansion-panel>
