
#container {
  position: relative;
  outline: #9C1A1C;
  width: 100%;
  height: 100%;
}

#img_container {
  position: relative;
  outline: #9C1A1C;
}

#img_container img {
  pointer-events: none;
}

.boundingbox {
  position: absolute;
  outline: 1px dashed #f2f2f2;
  color: black;
}

.top.boundingbox {
  z-index: 9999;
  outline: 1px solid darkgreen;
}

.selected.boundingbox {
  outline: 1px solid red;
}

.selected.boundingbox.active {
  background-color: #80ff800d;
}

.selected.boundingbox:hover {
  cursor: all-scroll;
}

.badge {
  background: #f2f2f2;
  color: #177199;
  cursor: pointer;
}

.badge.width {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -100%);
}

.badge.height {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
}

.badge.position {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
}

.selected .resize-action {
  position: absolute;
  left: 100%;
  top: 100%;
  border-style: solid;
  border-width: 8px;
  border-color: transparent transparent transparent #008000;
}

.selected .resize-action {
  transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
}

.selected .resize-action:hover, .resize-action:active {
  cursor: nwse-resize;
}

.label {
  position: absolute;
  left: 0%;
  top: 100%;
  border-style: solid;
  border-width: 8px;
  border-color: transparent transparent transparent #008000;
}
