<div class="container">
  {{selection.signal.text}}
</div>
<div class="container">
  <span *ngFor="let token of tokens; let idx = index" [class]="tokenClass(idx)" (click)="select(idx, token, $event)">
    {{token.annotations[0].value.value}}
  </span>
</div>
<!--<div>-->
<!--  <button mat-raised-button (click)="save()">Save</button>-->
<!--  <button mat-raised-button (click)="addMention()">Add Mention</button>-->
<!--  <button mat-raised-button (click)="addAnnotation()" [disabled]="!annotationType">Add Annotation</button>-->
<!--  <mat-form-field *ngIf="selection.mention">-->
<!--    <mat-label>Annotation Type</mat-label>-->
<!--    <mat-select [(value)]="annotationType" name="type">-->
<!--      <mat-option></mat-option>-->
<!--      <mat-option *ngFor="let type of ['display', 'person', 'label']" [value]="type">-->
<!--        {{type}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--</div>-->


