div {
  display: inline-block;
}

div.container {
  display: block;
}

span {
  border: solid #9C1A1C;
  padding-right: 3em;
}

.selected {
  color: #9C1A1C;
}

.mentioned {
  color: #30799B;
}

.plain {
  color: #000000;
}
